html {
  box-sizing: border-box;
  background-color: #f0eee8;
  text-align: center;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: Dosis, sans-serif;
  margin-top: 0;
  margin-bottom: .5em;
  text-align: left;
  color: #512200;
}

p {
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.btn {
  background-color: #785439;
  display: inline-block;
  padding: .75em;
  margin-bottom: .5em;
  border-radius: 8px;
  font-family: Dosis, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

div {
  margin-right: 0;
}

.link-card {
  max-width: 320px;
  background-color: #dcd4cd;
  border-style: solid;
  border-color: #9a816d;
  border-width: 3px;
  padding: 1em;
  display: block;
  padding-top: .6em;
}

.link-card h2 {
  text-decoration: none;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}

dl {
  text-align: left;
  font-size: .9em;
  line-height: 1.5em;
  padding-bottom: .5em;
}

dt {
  display: inline-block;
  width: 45%;
}

dd {
  display: inline-block;
  margin: 0;
}
