html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: 'Dosis', sans-serif;
  margin-top: 0;
  text-align: left;
}

p {
  text-align: left;
}

a {
  background-color: #9a816d;
  padding: .75em;
  border-radius: 8px;
  font-family: 'Dosis', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

.link-card {
  background-color: #dcd4cd;
  border-style: solid;
  border-color: #9a816d;
  border-width: 3px;
  padding: 1em;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover a {
  background-color: #512200;
}

dd {
  display: inline-block;
}

dt {
  display: inline-block;
}
